.select-box 
    width: 300px
    border: 2px solid rgb(150, 165, 230)
    box-shadow: rgb(150, 165, 230, 0.9) 0px 4px 12px
    border-radius: 15px
    padding: 10px 15px
    cursor: pointer
    display: flex
    align-items: center
    justify-content: space-between

.select-input
    border: none
    font-size: 20px
    background: transparent
    &:focus-visible
        outline: none

.select-item
    width: 300px
    font-size: 18px
    border: 2px solid #e1e1e1
    border-radius: 15px
    padding: 10px 15px
li
    list-style-type: none
    padding: 7px 5px
    border-radius: 5px
    &:hover
        background: rgb(204, 209, 233)