.select-box 
    width: 300px
    border: 2px solid rgb(150, 165, 230)
    box-shadow: rgb(150, 165, 230, 0.9) 0px 4px 12px
    border-radius: 15px
    padding: 0px 15px
    cursor: pointer
    display: flex
    align-items: center
    justify-content: space-between
    input 
        cursor: pointer
        min-height: 50px

.select-input
    border: none
    font-size: 20px
    background: transparent
    &:focus-visible
        outline: none

.select-items
    width: 300px
    font-size: 18px
    border: 2px solid #e1e1e1
    border-radius: 15px
    padding: 10px 10px
    margin-top: 10px
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
    li
        list-style-type: none
        padding: 10px 10px
        border-radius: 5px
        cursor: pointer
        display: flex
        justify-content: space-between
        margin: 5px 0px
        &:hover
            background: #a8ddcf4f

li.selected
    background:  #a8ddcf4f

.selected-items
    width: 300px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    
.selected-item
    background: #a8ddcf4f
    padding: 5px 15px
    border-radius: 10px
    margin: 5px
    display: flex
    justify-content: space-between
    align-items: center
    .close 
        margin-left: 5px
        cursor: pointer
        border-left: 2px solid #fff
        display: flex
        align-items: center
    
.show
        transform: scaleY(1)
.hide
        transform: scaleY(0)
        transform-origin: top

.add-item-text 
    font-size: 14px
    font-weight: 900
    color: #b5b5b5
    padding: 5px 0
    text-align: center
    span 
        color: #d75555
        padding: 0px 5px

.expand-less
        transform: rotate(-90deg)
        transition: all 0.2s ease

.expand-more
    transform: rotate(0deg)
    transition: all 0.2s ease